@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html,
body,
header,
footer,
main,
section,
article,
aside,
nav,
form,
input,
select,
button,
textarea,
div,
span,
p,
i,
ul,
ol,
dl,
dt,
dd,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
a,
table,
tr,
th,
td,
img,
svg,
path,
circle,
polygon {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  color: #ffffff;
  appearance: none;
  font-size: 1.03em;
  font-style: normal;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #030303;
}

::selection {
  color: #ffffff;
  background: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  user-select: none;
  --webkit-user-select: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a,
input,
textarea,
select,
button {
  resize: none;
  transition: all 0.3s ease;
  background-color: transparent;
}

img {
  user-select: none;
  --webkit-user-select: none;
}

button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

p {
  line-height: 160%;
  margin-bottom: 10px;
}

.material-symbols-outlined {
  user-select: none;
  --webkit-user-select: none;
  font-weight: normal !important;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.container {
  padding: 0 20px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-v-end {
  align-items: flex-end;
}

.flex-h-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-gap {
  gap: 15px;
}

.flex-gap-small {
  gap: 5px;
}

.flex-gap-medium {
  gap: 10px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-h-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.no-select {
  user-select: none;
  --webkit-user-select: none;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

#root,
.full-h {
  height: 100vh;
}

strong,
.strong {
  font-weight: 600;
}

.button {
  display: flex;
  font-weight: 600;
  user-select: none;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  --webkit-user-select: none;
  padding: 10px 20px 12px 20px;
  justify-content: space-between;
}

.active-opacity:active {
  opacity: 0.6;
  transition: 0.2s all ease;
}

.scroller-vertical::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.scroller-vertical::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 5px;
}

.scroller-vertical::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: #999999;
}

.scroller-vertical::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 5px;
  background-color: #999999;
}

.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  filter: blur(50px);
  transform: scale(1.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.information {
  left: 50%;
  width: 100%;
  max-width: 600px;
  position: absolute;
  padding: 30px 0 110px 0;
  transform: translateX(-50%);
}

.information .image {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  cursor: pointer;
  color: #000000;
  perspective: 1000px;
  font-family: monospace;
}

.information .image img {
  width: 400px;
  height: 400px;
}

.information .image .image-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.information .image .image-inner .front,
.information .image .image-inner .back {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
}

.information .image .back {
  border-radius: 20px;
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.information .image:hover .image-inner {
  transform: rotateY(-180deg);
}

.information .album {
  margin-bottom: 10px;
}

.information .album .album-info {
  margin-top: 5px;
  color: #dadada;
  font-size: 0.75em;
}

.information .album a:hover {
  text-decoration: underline;
}

.information .play-button {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50em;
  background-color: rgba(255, 255, 255, 0.9);
}

.information .play-button span {
  font-size: 2.3em;
  color: #000000;
}

.information button.small {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50em;
  background-color: rgba(0,0,0,0.2);
}

.information button.small span {
  font-size: 0.9em;
}

.information .playlist {
  padding: 0 10px;
}

.information .playlist a {
  display: block;
  margin-bottom: 4px;
}

.information .playlist .track {
  font-size: 0.75em;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 15px 15px 15px 5px;
}

.information .playlist .track:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.information .playlist .track em {
  font-size: 0.9em;
}

.information .playlist .track .track-number {
  width: 30px;
  height: 30px;
  border-radius: 50em;
}

.information .playlist .track .name-button {
  font-weight: 600;
  padding-bottom: 5px;
  justify-content: flex-start;
}

.information .playlist .track.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.information .playlist .track .control {
  display: none;
}

.information .playlist .track:hover .control {
  display: flex;
}

.information .playlist .track:hover .number {
  display: none;
}

.player {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  position: fixed;
  background-color: #212121;
}

.player .player-container {
  padding: 0 20px;
  min-height: 90px;
}

.player .player-buttons .big span {
  font-size: 2.5em;
}

.player .player-buttons button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.player .player-duration em,
.player .player-duration span {
  color: #999999;
  font-size: 0.8em;
}

.player .player-information .track-info span,
.player .player-information .track-info strong {
  font-size: 0.8em;
}

.player .player-information .track-info a,
.player .player-information .track-info span {
  color: #999999;
}

.player .player-information .track-info a:hover {
  text-decoration: underline;
}

audio {
  display: none;
}

input[type='range'] {
  --g: 0px; /* gap */
  --l: 3px; /* line thickness */
  --s: 12px; /* thumb size */

  width: 100%;
  cursor: pointer;
  height: var(--s);
  overflow: hidden;
  appearance: none;
  background: none;
  border-radius: 50em;
}

input[type='range'].red {
  --c: #ff0000;
}

input[type='range'].white {
  --c: #ffffff;
}

input[type='range'][disabled] {
  opacity: 0.3;
}

input[type='range' i]::-webkit-slider-thumb {
  transition: 0.3s;
  aspect-ratio: 1;
  height: var(--s);
  appearance: none;
  border-radius: 50em;
  background-color: #ffffff;
  box-shadow: 0 0 0 var(var(--l)) inset var(--c);
  border-image: linear-gradient(90deg, var(--c) 50%, #666666 0) 0 1 / calc(50% - var(--l) / 2) 100vw/0
    calc(100vw + var(--g));
}

.progress {
  left: 0;
  right: 0;
  top: -14px;
  position: absolute;
}

.progress-bar::-webkit-slider-thumb {
  color: red;
  background-color: red;
  border-image: linear-gradient(90deg, var(--c) 50%, #999999 0) 0 1 / calc(50% - var(--l) / 2) 100vw/0
    calc(100vw + var(--g));
}

@media (max-width: 600px) {
  .information .image,
  .information .image img {
    width: 320px;
    height: 320px;
  }

  .player .flex-gap {
    gap: 5px;
  }

  .player-information {
    display: none;
  }

  .player-controls input[type='range'] {
    width: 50%;
  }
}
